In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [91]:
train_data = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/project_2/train.csv")
test_data= pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/project_2/test.csv")
test_id = test_data["PassengerId"]
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [73]:
train_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [74]:
print(len(train_data.loc[train_data["HomePlanet"]=="Europa"]))
print(len(train_data.loc[train_data["HomePlanet"]=="Earth"]))
print(len(train_data.loc[train_data["HomePlanet"]=="Mars"]))
2131+4602+1759

2131
4602
1759

8492

In [75]:
print(len(train_data.loc[train_data["CryoSleep"]==True]))
print(len(train_data.loc[train_data["CryoSleep"]==False]))
3037+5439

3037
5439

8476

In [76]:
print(len(train_data.loc[train_data["Destination"]=="TRAPPIST-1e"]))
print(len(train_data.loc[train_data["Destination"]=="PSO J318.5-22"]))
print(len(train_data.loc[train_data["Destination"]=="55 Cancri e"]))
5915+796+1800

5915
796
1800

8511

In [77]:
print(len(train_data.loc[train_data["VIP"]==True]))
print(len(train_data.loc[train_data["VIP"]==False]))
199+8291

199
8291

8490

In [78]:
def clean(data):
  data.Cabin.fillna("F/3/P",inplace=True)
  data.HomePlanet.fillna("Earth",inplace=True)
  data.CryoSleep.fillna(False,inplace=True)
  data.Destination.fillna("TRAPPIST-1e",inplace=True)
  data.VIP.fillna(False, inplace=True)

  data = data.drop(["PassengerId","Cabin","Name"], axis=1)

  cols = ["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]
  for col in cols:
    data[col].fillna(data[col].mean(), inplace=True)

  return data

In [79]:
train_data = clean(train_data)
test_data = clean(test_data)
train_data.head(17)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.000000,0.0,0.000000,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.000000,549.0,44.000000,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.000000,6715.0,49.000000,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.000000,3329.0,193.000000,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.000000,565.0,2.000000,True
5,Earth,False,PSO J318.5-22,44.0,False,0.0,483.0,0.000000,291.0,0.000000,True
6,Earth,False,TRAPPIST-1e,26.0,False,42.0,1539.0,3.000000,0.0,0.000000,True
7,Earth,True,TRAPPIST-1e,28.0,False,0.0,0.0,0.000000,0.0,304.854791,True
8,Earth,False,TRAPPIST-1e,35.0,False,0.0,785.0,17.000000,216.0,0.000000,True
9,Europa,True,55 Cancri e,14.0,False,0.0,0.0,0.000000,0.0,0.000000,True
10,Europa,True,TRAPPIST-1e,34.0,False,0.0,0.0,173.729169,0.0,0.000000,True
11,Europa,False,55 Cancri e,45.0,False,39.0,7295.0,589.000000,110.0,124.000000,True
12,Mars,False,TRAPPIST-1e,32.0,False,73.0,0.0,1123.000000,0.0,113.000000,True
13,Earth,False,TRAPPIST-1e,48.0,False,719.0,1.0,65.000000,0.0,24.000000,False
14,Earth,False,TRAPPIST-1e,28.0,False,8.0,974.0,12.000000,2.0,7.000000,True
15,Earth,False,TRAPPIST-1e,31.0,False,32.0,0.0,876.000000,0.0,0.000000,False
16,Mars,False,55 Cancri e,27.0,False,1286.0,122.0,173.729169,0.0,0.000000,False

In [80]:
X = train_data.iloc[:,:-1]
Y = train_data.iloc[:, -1:].values.ravel()
print(f"train x shape: {X.shape}")
print(f"train y shape: {Y.shape}")
print(f"test x shape: {test_data.shape}")

train x shape: (8693, 10)
train y shape: (8693,)
test x shape: (4277, 10)

In [81]:
dummy_x = pd.get_dummies(X)
print(dummy_x.shape)
dummy_x

(8693, 14)

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,0,1,0,1,0,0
8689,True,18.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0
8690,False,26.0,False,0.0,0.0,1872.0,1.0,0.0,1,0,0,0,0,1
8691,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,0,1,0,1,0,0
8692,False,44.0,False,126.0,4688.0,0.0,0.0,12.0,0,1,0,0,0,1

In [82]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
x_scaled = scaler.fit_transform(dummy_x)
x_scaled

array([[-0.73277002,  0.70943692, -0.15306307, ..., -0.51101319,
        -0.31748665,  0.65252063],
       [-0.73277002, -0.33671733, -0.15306307, ..., -0.51101319,
        -0.31748665,  0.65252063],
       [-0.73277002,  2.03456565,  6.53325471, ..., -0.51101319,
        -0.31748665,  0.65252063],
       ...,
       [-0.73277002, -0.1972301 , -0.15306307, ..., -0.51101319,
        -0.31748665,  0.65252063],
       [-0.73277002,  0.2212316 , -0.15306307, ...,  1.95689664,
        -0.31748665, -1.5325186 ],
       [-0.73277002,  1.05815501, -0.15306307, ..., -0.51101319,
        -0.31748665,  0.65252063]])

In [83]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [84]:
depth = []
for i in range(2,100,1):
  rf = RandomForestClassifier(max_depth=i)
  scores = cross_val_score(rf,x_scaled,Y, cv=5)
  depth.append(scores.mean())

In [85]:
final_depth = np.argmax(np.array(depth))+2
print(final_depth)

10

In [86]:
estimators =[]
for i in tqdm(range(50,200,1)):
  rf = RandomForestClassifier(n_estimators=i, max_depth=final_depth)
  scores = cross_val_score(rf,x_scaled,Y,cv=5)
  estimators.append(scores.mean())

100%|██████████| 150/150 [09:12<00:00,  3.68s/it]

In [87]:
final_estimator = np.argmax(np.array(estimators)) +50
print(final_estimator)

155

In [88]:
final_rf = RandomForestClassifier(n_estimators= final_estimator, max_depth=final_depth)
final_rf.fit(x_scaled, Y)

RandomForestClassifier(max_depth=10, n_estimators=155)

In [89]:
dummy_test_data= pd.get_dummies(test_data)
test_data_x_scaled = scaler.transform(dummy_test_data)
y_predicted = final_rf.predict(test_data_x_scaled)
print(y_predicted)

[ True False  True ...  True  True  True]

In [93]:
submission_data = pd.DataFrame({"PassengerId":test_id.values, "Transported": y_predicted})
submission_data.to_csv("submission.csv",index=False)